<div class="landing-page">

  <!-- Navbar -->

  <nav class="navbar">

    <div class="logo">

      <span class="logo-circle">A</span>

      <span class="logo-text">
        Aurum
      </span>

    </div>

    <div class="buttons">

      <button
        class="login-btn"
        routerLink="auth/signin">

        Login

      </button>

    </div>

  </nav>

  <!-- Hero -->

  <section class="hero">

    <span class="badge">

      India's Construction Marketplace

    </span>

    <h1>

      Find the Perfect

      <span>Architect.</span>

      <br>

      Builder.

      <span>Vendor.</span>

    </h1>

    <p>

      Connect with verified Architects,
      Contractors, Interior Designers,
      Builders and Vendors across India.

    </p>

    <div class="hero-buttons">

      <button
        class="primary"
        routerLink="auth/signup">

        Get Started

      </button>

    </div>

  </section>

</div>